<GridLayout class="p-20">
  <WebView src="<p>
    <span style='font-family: 'arial black', sans-serif;'>Schriftart Arial Black</span></p> <p>😔😄😭 keineFormatierung&nbsp;</p>

    <ul>
    
    <li>ListenItem1</li>
    
    <li>ListenItem2</li>
    
    </ul>
    
    <p></p>
    
    <ol>
    
    <li>gezaehlteListe1</li>
    
    <li>gezaehlteListe2</li>
    
    </ol>
    
    <p></p>
    
    <h1>Ueberschrift 1</h1>
    
    <pre>Preformatted</pre>
    
    <h3>Formatauswahl</h3>
    
    <p></p>
    
    
    <p style='padding-left: 30px;'>Absatz eingefuegt</p>

    <p style='text-align: left;'>Linksbuendung</p>

    <p style='text-align: center;'>Mittelbuendig</p>

    <p style='text-align: right;'>Rechtsbuendig</p>

    <p style='text-align: justify;'>Blocksatz</p>

    <p dir='rtl'>Seitenverkehrt</p>

    <p style='text-align: left;'><a href='http://www.google.de' target='_blank' rel='noopener'>Link in neuem Fenster
        geoeffnet</a></p>

    <p dir='rtl'></p>

    <p>Sonderzeichen aus dem HTML-Editor:&nbsp;Ō&hearts;&spades;&Sigma;&larr;</p>
    ">
  </WebView>
</GridLayout>